Makefile.in
*.pyc
*.pyo
*.m4
*.cache
missing
compile
depcomp
INSTALL
configure
config.h.in
config.h.in~
install-sh
py-compile
bigdft-master/bigdft/GaIn-1.0/
bigdft-master/bigdft/PyBigDFT/PyBigDFT.egg-info/
bigdft-master/bigdft/PyYAML/
bigdft-master/bigdft/libxc/
bigdft-master/bigdft/yaml/
